form {
    border-collapse:collapse;
    width: 720px;
    height: 550px;
    background: linear-gradient(to bottom, lavender, whitesmoke );
    margin: auto;
}

.passenger {
    font-family: 'Chakra Petch', sans-serif;
    margin-left: 10px;
    padding: 15px;
    
}

.passenger label {
    color:lightslategrey;
}

.passenger label:hover {
    color: black;
}

.citizenship {
    font-family: 'Chakra Petch', sans-serif;
    margin-left: 10px;
    padding: 15px;
}

.citizenship label {
    color: lightslategrey;
}

.citizenship label:hover {
    color:black;
}

.airport {
    background: linear-gradient(to right, lightblue, whitesmoke );
    border-collapse:collapse;
    font-family: 'Chakra Petch', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}

.airport label {
   color: lightslategrey;
   margin-left: 10px;
}

.airport p {
    margin-left: 10px;
    text-transform:uppercase;
}

.airport label:hover {
    color: black;
}

.title {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    color:navy;
    letter-spacing: 2px;
}

h2 {
    text-align:center;
    color: navy;
    letter-spacing: 5px;
}

body {
    background-color: linen;
}

.passport-type {
    font-family: 'Chakra Petch', sans-serif;
    margin-left: 10px;
    padding: 15px;
}

#overlay {
    width: 80%;
    margin: 3% auto;
    height: 95vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
}

#logo {
  height: 100px;
  display: block;
  margin: auto;
}

#plane {
    height: 50px;
    float:right;
    margin-top: 10px;
    margin-right: 5px;
}

